:root {
  --linecol: #242457;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.wideButton {
  cursor: pointer;
  background-color: #060606;
  border: none !important;
  border-radius: 4px;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  position: relative;

}
.wideButton:hover {
  background-color: #242357;
}

.hidden {
  display: none !important;
}

.techline {
  font-family: Inconsolata, monospace;
  color: wheat;
}

.showReelBtn {
  font-family: Inconsolata, monospace;
    font-size: 16px;
    background-color: transparent;
    color: white;
    font-size: 1.1em;
    border: 1px solid #242357;
    padding: 1em;
}
.showReelBtn.active {
  background-color: #260b4c;
}
.showReelBtn:hover {
  background-color: #260b4c;
}

.locked1 {
  min-height: 60px;
}

.locked1:hover .w-button {
  display: block;
  position: absolute;
  right: 1em;
  top:2em
}

.locked1 .w-button {
  display: none;
}

.locked1 .image-6 {
    display: block;

}
.locked1 .image-7 {
  display: none;
  position: relative;
  max-width: 80%;

}

.locked1:hover .image-6 {
    display: none;

}
.locked1:hover .image-7 {
  display: block;
  position: relative;

}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.body {
  background-color: #000;
}

.text-block {
  color: #b9b9b9;
  text-align: right;
  letter-spacing: -3px;
  margin-top: 140px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 47px;
}

.div-block {
  border-top: 2px solid #474747;
  border-bottom: 2px #6b6b6b;
  flex-flow: row;
  justify-content: flex-start;
  align-items: top;
  padding-top: 2em;
  width: 100%;
  display: flex;
}

.text-block-copy {
  color: #b9b9b9;
  text-align: right;
  margin-top: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  line-height: 47px;
}

.text-block-copy-copy {
  color: #b9b9b9;
  text-align: right;
  width: 40%;
  margin-top: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.clients {
  color: #b9b9b9;
  text-align: right;
  width: 40%;
  margin-top: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.div-block-2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  width: 28em;
  display: flex;
}

.text-block-2 {
  font-family: Inconsolata, monospace;
  color: #fafafa;
  font-size: 20px;
  text-transform: uppercase;
}

.text-block-3 {
  font-family: Inconsolata, monospace;
  color: #9e9e9e;
  flex: 0 auto;
  font-size: 13px;
}

.text-block-4 {
  color: #d5d1de;
  font-family: Julius Sans One, sans-serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 0.5em;
}

.div-block-3 {
  background-color: #41417c;
  height: 2px;
  margin-bottom: 3px;
}

.flex-block {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
}

.flex-block-2 {
  flex: 0 auto;
  justify-content: space-between;
}

.image {
  opacity: .55;
}

.container {
  border-bottom: 1px #000;
}

.div-block-4 {
  border-right: 1px solid #242357;
  flex-flow: column;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-end;
  width: 24%;
  padding-top: 2em;
  padding-bottom: 0;
  padding-right: 2em;
  display: flex;
  position: relative;
}

.div-block-4.me {
  padding-bottom: 5em;
}

.div-block-5 {
  flex-flow: column;
  flex: 1;
  align-items: stretch;
  min-height: auto;
  padding: 2em 2em 0;
  display: flex;
}

.div-block-5.web {
  height: 300px;
}

.bodytext {
  color: #c4c4c4;
  width: 100%;
  padding-bottom: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}

.bodytext.web {
  width: 80%;
}

.bodytext.dim {
  color: #b1b0b0;
  flex-flow: row;
  display: flex;
}

.paragraph-2 {
  color: #747474;
  font-family: Inconsolata, monospace;
}

.heading {
  color: #f7f7f7;
  text-align: right;
  margin-bottom: 0;
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 22px;
  line-height: 33px;
  text-transform:uppercase;
}

.heading.bot {
  margin-bottom: 2em;
}
.caption-prompt {
  background-color: #2d0172;
  border-radius: 4px;
  padding: 0.12em;
}
.row {
  border-top: 1px solid var(--linecol);
  flex: 1;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
}
.sublink {
  color: #9b70d4;
  background-color: transparent;
}
.sublink:hover {
  color: #a44f8f
}
.row.webrow {
  background-image: linear-gradient(93deg, #000, #fff0), url('../images/codehtml.jpg');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
}

.row.video {
  background-image: linear-gradient(92deg, #000, #0000 25%, #00000096), linear-gradient(170deg, #597fdf26, #000000a8 57%);
}
.row.ai {
  background-image: linear-gradient(92deg, #000, #0000 25%, #00000096), linear-gradient(170deg, #df59d826, #000000a8 57%);
}
.row.blank {
  border-style: solid none none;
  border-width: 1px 0 0;
  border-color: var(--linecol) black black;
}

.row.blank.notop {
  border-top-style: none;
}
.meLine {
  width: 100%;
  border-top: 1px solid #242457;
  height: 2px;
  margin-top: 1em;
  padding-bottom: 1em;
}
.subheading {
  color: #b6b6b6;
  text-align: right;
  cursor: pointer;
  flex: 0 auto;
  justify-content: flex-end;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 33px;
  display: flex;
}
.subheading2 {
  color: #b6b6b6;
  text-align: right;
  cursor: pointer;
  flex: 0 auto;
  justify-content: flex-end;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 33px;
  display: flex;
}
.subheading2:hover {
  color: #e2281f;
}

.subheading:hover {
  color: #e2281f;
}

.subheading.blurb {
  line-height: 15px;
}

.iconblocks {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-flow: wrap;
  width: 41%;
  margin-top: 3em;
  display: flex;
}

.paragraph-3 {
  color: #2a9eb8;
  font-family: Inconsolata, monospace;
  font-size: 18px;
}

.empdeets {
  color: #c4c4c4;
  margin-bottom: 2px;
  padding-bottom: 0;
  font-family: Inconsolata, monospace;
  font-size: 16px;
}

.empdeets.web {
  width: 80%;
}

.emprow {
  border-bottom: 1px #2c2a2a;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
}

.div-block-7 {
  background-image: linear-gradient(87deg, #0000, #00161a);
  flex-flow: column;
  align-items: stretch;
  padding-bottom: 0;
  display: flex;
}

.heading2 {
  color: #f7f7f7;
  text-align: right;
  margin-bottom: 2em;
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 33px;
}

.heading3 {
  color: #f7f7f7;
  text-align: right;
  margin-bottom: 1em;

  font-family: sans-serif;
  font-size: 18px;
  line-height: 33px;
}

.subsectionport {
  flex-flow: column;
  display: flex;
}

.subsectionport.hide {
  display: none;
}

.section {
  box-shadow: inset 0 5px 5px -6px #000000e3;
}

.imgrow {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  filter: grayscale();
  border-radius: 0;
  flex-flow: row;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
}

.imgrow:hover {
  filter: none;
}

.imgrowimg {
  aspect-ratio: 16 / 9;
  opacity: .68;
  border-radius: 5px;
  flex: 0 auto;
  width: 100%;
  margin-right: 0;
}

.imgrowimg.project {
  opacity: 1;
  width: 100%;
}

.imgrowimg.project.long {
  aspect-ratio: auto;
}

.flex-block-3 {
  justify-content: flex-start;
  align-items: flex-end;
}

.videocont {
  display: flex;
}

.flex-block-4 {
  width: 30%;
}

.image-2 {
  opacity: .72;
  vertical-align: baseline;
  background-color: #000;
  border-radius: 4px;
  align-self: auto;
}

.container-copy {
  border-bottom: 1px #000;
  margin-top: 88px;
  margin-bottom: 140px;
  padding-bottom: 60px;
}
.link {
  color: #fff;
  font-family: Inconsolata, monospace;
  font-size: 12px;
}
.link:hover {
  color: white
}
.subsectionme {
  flex-flow: column;
  display: flex;
}

.subsectionme.hide {
  display: none;
}

.subsectionvideo {
  flex-flow: column;
  display: flex;
}

.subsectionvideo.hide {
  display: none;
}

.projectrow {
  flex-flow: row;
  margin-bottom: 0;
  padding-bottom: 20px;
  margin-bottom: 2em;
}

.project-header {
  color: #fff;
  font-family: sans-serif;
  font-size: 21px;
  line-height: 1.2em;
}

.project-header.dates {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: sans-serif;
  color: #767676;
}

.flex-block-5 {
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.flex-block-6 {
  width: 100%;
  margin-bottom: 20px;
}

.button {
  color: #b2b3df;
  background-color: #260c4c;
  border-radius: 4px;
  flex: 0 auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button:hover {
  background-color: #114491;
}

.subsectionprojects.hide, .subsectionniche.hide {
  display: none;
}

.subsectionwork {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.subsectionwork.hide {
  display: none;
}

.videorowbg {
  flex-flow: column;
  flex: 1;
  align-items: stretch;
  padding: 0;
  display: flex;
}

.videorowbg.web {
  height: 300px;
}

.subsection.about {
  background-image: linear-gradient(149deg, #080101, #fff0 42%);
}

.subsection.niche {
  background-image: linear-gradient(162deg, #040c04ad, #fff0 42%);
}


.subsection.work {
  background-image: linear-gradient(138deg, #0a0a0a, #fff0 40%);
}

.subsection.projects {
  background-image: linear-gradient(122deg, #010d1f, #fff0 26%);
}

.subsection.pclients {
  background-image: linear-gradient(114deg, #000 28%, #000000d9), url('../images/Screenshot-2024-04-04-at-10.01.32-am.png');
  background-position: 0 0, 0 0;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.filler {
  width: 100%;
  height: 5em;
}

.iconimg {
  width: 25px;
}

.div-block-8 {
  padding: 2em;
}

.clientspec {
  border-left: 2px solid var(--linecol);
  color: #cfcfcf;
  width: auto;
  margin-bottom: 10px;
  padding-left: 1em;
  padding-right: 1em;
  font-family: Inconsolata, monospace;
  font-size: 22px;
  font-weight: 400;
  display: block;
}

.div-block-9 {
  flex-flow: wrap;
  width: 100%;
  margin: 39px auto 5em 0;
  display: flex;
}

.div-block-10 {
  background-image: linear-gradient(90deg, #000 11%, #fff0), url('../images/IMG_1865-854x480-1.png');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  height: 190px;
}

.image-3 {
  width: 50%;
}

.blankrow {
  flex-flow: column;
  flex: 1;
  align-items: stretch;
  height: 12em;
  min-height: auto;
  padding: 2em 2em 0;
  display: flex;
}

.blankrow.web {
  height: 300px;
}

.flex-block-7 {
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-block-8 {
  flex-flow: row;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imgcont1 {
  width: 24%;
  margin-right: 8px;
  position: relative;
}

.text-block-5 {
  color: #b6b6b6;
  margin-right: 10px;
  font-family: Inconsolata, monospace;
  font-weight: 700;
  position: absolute;
  inset: auto 0% 0% auto;
}

.flex-block-9 {
  align-items: stretch;
  width: 60%;
  padding-right: 20px;
}

.flex-block-10 {
  width: 60%;
  padding-right: 20px;
}

.projectrowimgblock {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border-left: 1px solid var(--linecol);
  width: 40%;
  padding-left: 10px;
}
.clap-box {
  border-right: 1px solid black;width: 33%;display: flex; justify-content: center;align-items: center;
  font-size: 1.6em;
}
.timecode {
  font-size: 32px; color: red; font-family: 'DS-Digital', sans-serif;
}
.clap-box:last-child {
  border-right: none;
}
.clap-box.small {
  font-size: 1em;
}
.clap-box.wide {
  width: 70%;
  font-size: 1em;
}

.byline {
  color: #c7c7c7;
  margin-top: 0;
  margin-bottom: 2em;
  font-family: Inconsolata, monospace;
}

.flex-block-11 {
  flex-flow: wrap;
}

.hobbies {
  color: #c4c4c4;
  width: 30%;
  padding: 1em;
  font-family: Inconsolata, monospace;
  font-size: 16px;
}

.hobbies.web {
  width: 80%;
}

.hobbies.dim {
  color: #b1b0b0;
  flex-flow: row;
  display: flex;
}

.hobbyheading {
  color: #c583d4;
}

.toolkit {
  color: #a7a3a3;
  font-family: Inconsolata, monospace;
}

.toolkit:hover {
  color: #7146b1;
}

.flex-block-12 {
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 10px;
}

.mytoolkit {
  display: none;
}

.div-block-11 {
  aspect-ratio: 1;
  border: 1px solid var(--linecol);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 12%;
  margin-right: 1em;
  padding: .7em;
  display: flex;
}

.text-block-6 {
  color: #e4e4e4;
  padding-bottom: .25em;
  font-family: Inconsolata, monospace;
  font-size: 30px;
  font-weight: 700;
}

.text-block-7 {
  color: #adadad;
  font-family: Inconsolata, monospace;
  font-size: 14px;
}

.eqiprow {
  flex-flow: row;
  margin-bottom: 0;
  padding-bottom: 0;
}

.equipheader {
  color: #fff;
  width: 20%;
  font-family: Inconsolata, monospace;
  font-size: 18px;
}

.equipheader.dates {
  margin-bottom: 10px;
  font-size: 14px;
}

.image-4 {
  filter: invert();
  color: #ddd1d1;
  -webkit-text-stroke-width: 0px;
  align-self: flex-start;
}

.flex-block-13 {
  grid-column-gap: .9em;
  grid-row-gap: .9em;
  justify-content: flex-start;
  align-items: center;
}

.image-5 {
  filter: invert();
  margin-right: 22px;
}

.bodytext-copy {
  color: #c4c4c4;
  width: 100%;
  margin-bottom: 2.2em;
  padding-bottom: 0;
  font-family: Inconsolata, monospace;
  font-size: 16px;
}

.bodytext-copy.web {
  width: 80%;
}

.bodytext-copy.dim {
  color: #b1b0b0;
  flex-flow: row;
  display: flex;
}

.image-6 {
  filter: drop-shadow(0 2px 5px #000000b3) invert();
}

.image-6:hover {
  filter: saturate(200%) hue-rotate(120deg) invert();
}

.flex-block-14 {
  border-top: 1px solid var(--linecol);
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-top: .2em;
}

.text-block-8 {
  color: #d8d8d8;
}

.div-block-12 {
  display: block;
}

.btnmore {
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.btnmore:hover {
  color: #f70c0c;
}

.link {
  color: #79c7f1;
  text-decoration: none;
}

.image-7 {
  opacity: .46;
  filter: invert();
  flex: 0 auto;
  align-self: center;
}

.flex-block-15 {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  margin-left: 2em;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.morerow {
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.text-block-9 {
  color: #970000;
  width: auto;
  font-family: Inconsolata, monospace;
}

.text-block-10 {
  box-sizing: border-box;
  color: #969292;
  text-align: right;
  font-family: Inconsolata, monospace;
}

.flex-block-17 {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1em;
}

.flex-block-18 {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  background-image: linear-gradient(98deg, #0000, #242457);
  border-radius: 4px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1em;
}
.background-video {
    opacity: .2;

    width: 100%;
    max-width: none;
    height: 41vh;

    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    inset: 0 auto auto 0;
    z-index: -1;

}
.highlight-box {
  background-color: #00161a;
  padding: 1em;
  border-radius: 4px;
  margin-bottom: 1em;
  margin-top: 1em;
  display: flex;
  align-items: center;
}
.topVideo {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;


}
.w-background-video {
  position: absolute;
  overflow: hidden;
  height: 41vh;
  color: white;
}
.w-background-video > video {
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  right: -100%;
  bottom: -100%;
  top: -100%;
  left: -100%;
  object-fit: cover;
  z-index: -100;
}
.locked {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: flex-start;
  align-items: flex-start;
}

.videocont2 {
  width: 100%;
  margin-bottom: 4em;
}

.cleintpill {
  color: #72d1d7;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 18%;
  margin-bottom: 1em;
  margin-left: 4px;
  margin-right: 4px;
  padding: .25em;
  font-family: Julius Sans One, sans-serif;
  filter: drop-shadow(rgba(233, 233, 233, 0.666) 1px 1px 3px);
  display: flex;
  font-size: 1.2em
}

.flex-block-8-copy {
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px auto;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.div-block-13 {
  width: 60%;
}

.request {
  border-top: 1px solid var(--linecol);
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-top: 2.7em;
}

@media screen and (max-width: 479px) {
  .div-block {
    flex-flow: column;
  }

  .div-block-4, .div-block-4.me {
    width: 100%;
  }

  .row {
    flex-flow: column;
  }

  .iconblocks {
    width: 100%;
  }

  .projectrow {
    flex-flow: column;
  }

  .flex-block-9, .flex-block-10, .projectrowimgblock {
    width: 100%;
  }

  .flex-block-8-copy {
    flex-flow: column;
  }
}


