/* You can add global styles to this file, and also import other style files */
body
    background-color: black
.txtHi
    color: #0f2f31
    font-weight: bold
    background-color: #9bc8d6
    padding-left: 4px
    padding-right: 4px